body{
    background-image: url(12.jpg);
    
    background-repeat:repeat-x;
background-size:cover;
   
}
.test{
    position: absolute;
    content: '';
    top:6%;
    left:35%;
   width:350px;
   height:300px;
   padding-left:40px;
   padding-right:40px;
   padding-bottom:40px;
   background-image: url(12.jpg);
   background-repeat:repeat-x;   
   background-attachment: fixed;
   margin:auto;
   background-size: cover;
   filter:blur(4px);
    
box-shadow: 0 10px 15px rgba(0,0,0,.5);
}

.error{
    position: absolute;
    top:6%;
    left:35%;
   width:350px;
   height:300px;
   padding-left:40px;
   padding-right:40px;
   padding-bottom:40px;
  margin:auto;
    background-color:transparent;
    
}
#p1{
    color:red;
    text-align:center;

}
#p2{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#p3{
    text-align:center;
}
.error input{
    width:350px;
    height:30px;
    font-size:15px;
    
 
}
.error input[type="email"]
{
    border:none;
    border-bottom:1px solid black;
    background:transparent;
}
.error input[type="submit"]
{
    border:none;
    background-color:rgb(60, 171, 235);
    color:white;
}

